<div class="card login-card">
   <form ng-submit="signup.submitForm()">
      <div class="card-art"></div>
      <div class="card-content">
         <h1>Sign up!</h1>
         <div class="error-message">{{ signup.error }}</div>
         <input autofocus type="text" placeholder="username" ng-model="signup.username">
         <input type="password" placeholder="password" ng-model="signup.password">
      </div>
      <div class="card-actions">
         <a class="button" ui-sref="login">Cancel</a>
         <button class="button-primary" ng-disabled="signup.username.length === 0 || signup.password.length === 0">Register!</button>
      </div>
      <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
   </form>
</div>